<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">-->

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <style>
    body{padding: 20px;}
    .demo-input{padding-left: 10px; height: 38px; min-width: 262px; line-height: 38px; border: 1px solid #e6e6e6;  background-color: #fff;  border-radius: 2px;}
    .demo-footer{padding: 50px 0; color: #999; font-size: 14px;}
    .demo-footer a{padding: 0 5px; color: #01AAED;}
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                <input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页">
            </td>
            <td>
                <a href="">前进</a><br>
            </td>
            <td colspan="" rowspan="" headers="">
                <!--<input type="button" name="Submit" value="首页" onclick="javascript:history.go(127.0.0.1:5000)" />-->
                <a href="/" target="_blank">首页</a>
            </td>
            <td>
                <!--<a>欢迎，{{ contents }} !</a>-->
                    {% for i in contents %}
                        <p>
                        {% if i == 7 %}
                            欢迎 {{ i }}是7倍数{# 注意i也要用两个大括号 #}！
                        {% else %}
                            {{ pass }}
                        {% endif %}
                        </p>
                    {% endfor %}

            </td>
        </tr>
    </table>

     <h3>登录</h3>
    <form action="login" method="get">
        <p>用户名: <input type="text" name="begin_time" /></p>
        <p>密&nbsp&nbsp&nbsp码: <input type="text" name="end_time" /></p>
        <input type="Submit" value="提交" />
    </form>

    <h3>烨烨的详情排班表</h3>
    <form action="yezi/2" method="get">
        <input type="text" class="demo-input" placeholder="请选开始时间" id="test1" autocomplete="off" name="begin_time" >
        <input type="text" class="demo-input" placeholder="请选结束时间" id="test2" autocomplete="off" name="end_time" >
        <input type="Submit" value="提交" />
    </form>
    <h3>周末匹配烨烨的班次表</h3>
    <form action="yezi/3" method="get">
        <p>开始时间: <input type="date" name="begin_time" value="2019-01-07" /></p>
        <p>结束时间: <input type="date" name="end_time" value="2019-01-08" /></p>
        <input type="Submit" value="提交" />
    </form>

    <h3>周末匹配烨烨的班次表优化版</h3>
    <form action="yezi/5" method="get">
        <input type="text" class="demo-input" placeholder="请选择开始时间和结束时间" id="test8" autocomplete="off" name="time0" >
        <input type="Submit" value="提交" />
    </form>
    <h3>查询数据</h3>
    <form action="sql/4" method="get">
        <!--<p>开始时间: <input type="text" name="begin_time" /></p>-->
        <!--<p>结束时间: <input type="text" name="end_time" /></p>-->
        <input type="Submit" value="提交" />
    </form>

    <script src="js/laydate.js"></script> <!-- 改成你的路径 -->
    <script>
    lay('#version').html('-v'+ laydate.v);
    //执行一个laydate实例
    laydate.render({
      elem: '#test1' //指定元素
    });
    </script>
    <script>
        //执行一个laydate实例
        laydate.render({
          elem: '#test8', //指定元素
            range: true,
            change: function(value, date){
            console.log(value);
        }
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#test1', //指定元素
            trigger: 'click'
        });
         //执行一个laydate实例
        laydate.render({
          elem: '#test2', //指定元素
            trigger: 'click'
        });
    </script>
</body>
</html>