<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <div>
        <table>
                <tr>
                    <td>
                        <input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页">
                    </td>
                    <td>
                        <a href="">前进</a><br>
                    </td>
                    <td colspan="" rowspan="" headers="">
                        <a href="http://127.0.0.1:5000/cat.html" target="_blank">首页</a>
                    </td>
                </tr>
        </table>        
        <!--<a href="http://127.0.0.1:5000/hello" target="_blank">HelloWorld!</a>-->
        <!--<br>-->
        <!--<a href="http://127.0.0.1:5000/2" target="_blank">烨烨的详情排班表</a>-->
        <!--<br>-->
        <!--<a href="http://127.0.0.1:5000/3" target="_blank">周末匹配烨烨的班次表</a>-->
        <!--<br>-->
        <!--<a href="http://127.0.0.1:5000/4" target="_blank">简单查询mysql</a>-->
        <!--<br>-->
        {{name}}
    </div>
</body>
</html>