<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>首页 - 瞢噬殇</title>

<script src="/static/js/adapter.js"></script> <!--rem适配js-->

<link rel="stylesheet" href="/static/css/base.css"> <!--初始化文件-->
<link rel="stylesheet" href="/static/css/menu.css"> <!--主样式-->

</head>
<body>

<div id="menu">
    <!--隐藏菜单-->
    <div id="ensconce">
        <h2>
            <img src="/static/images/show.png" alt="">
            瞢噬殇
        </h2>
    </div>

    <!--显示菜单-->
    <div id="open">
        <div class="navH">
            瞢噬殇
            <span><img class="obscure" src="/static/images/obscure.png" alt=""></span>
        </div>
        <div class="navBox">
            <ul>
                <li>
                    <h2 class="obtain">北京景点<i></i></h2>
                    <div class="secondary">
                        <h3><a style="color: #ffffff" href="##">故宫</a></h3>
                        <h3><a style="color: #ffffff" href="#">十三陵</a></h3>
                        <h3><a style="color: #ffffff" href="#">圆明园</a></h3>
                        <h3><a style="color: #ffffff" href="#">长城</a></h3>
                        <h3><a style="color: #ffffff" href="#">雍和宫</a></h3>
                        <h3><a style="color: #ffffff" href="#">天坛公园</a></h3>
                    </div>
                </li>
                <li>
                    <h2 class="obtain">南京景点<i></i></h2>
                    <div class="secondary">
                        <h3><a style="color: #ffffff" href="#">栖霞寺</a></h3>
                        <h3><a style="color: #ffffff" href="#">夫子庙</a></h3>
                        <h3><a style="color: #ffffff" href="#">海底世界</a></h3>
                        <h3><a style="color: #ffffff" href="#">中山陵</a></h3>
                        <h3><a style="color: #ffffff" href="#">乌衣巷</a></h3>
                        <h3><a style="color: #ffffff" href="#">音乐台</a></h3>
                    </div>
                </li>
                <li>
                    <h2 class="obtain">上海景点<i></i></h2>
                    <div class="secondary">
                        <h3><a style="color: #ffffff" href="#">东方明珠</a></h3>
                        <h3><a style="color: #ffffff" href="#">外滩</a></h3>
                        <h3><a style="color: #ffffff" href="#">豫园</a></h3>
                        <h3><a style="color: #ffffff" href="#">文庙</a></h3>
                        <h3><a style="color: #ffffff" href="#">世博园</a></h3>
                        <h3><a style="color: #ffffff" href="#">田子坊</a></h3>
                    </div>
                </li>
                <li>
                    <h2 class="obtain">深圳景点<i></i></h2>
                    <div class="secondary">
                        <h3><a style="color: #ffffff" href="#">华侨城</a></h3>
                        <h3><a style="color: #ffffff" href="#">观澜湖</a></h3>
                        <h3><a style="color: #ffffff" href="#">世界之窗</a></h3>
                        <h3><a style="color: #ffffff" href="#">东门老街</a></h3>
                        <h3><a style="color: #ffffff" href="#">七娘山</a></h3>
                        <h3><a style="color: #ffffff" href="#">光明农场</a></h3>
                    </div>
                </li>
                <li>
                    <h2 class="obtain">广州景点<i></i></h2>
                    <div class="secondary">
                        <h3><a style="color: #ffffff" href="#">白云山</a></h3>
                        <h3><a style="color: #ffffff" href="#">长隆</a></h3>
                        <h3><a style="color: #ffffff" href="#">黄花岗公园</a></h3>
                        <h3><a style="color: #ffffff" href="#">中山纪念堂</a></h3>
                        <h3><a style="color: #ffffff" href="#">华南植物园</a></h3>
                        <h3><a style="color: #ffffff" href="#">南沙湿地公园</a></h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="/static/js/menu.js"></script> <!--控制js-->
<div style="text-align:center;">
<p><a href="http://www.mms6.cn/" target="_blank">瞢噬殇</a></p>
</div>
</body>
</html>