<!DOCTYPE html>
<html>
<body>
    <div style="height: 50px; width: 100%;background-color: #eff3f1;">
        <div style="width: 100%" >
            <span style="color: blue; padding-top: 10px; font-size: 25px;margin-left: 5px;display:inline-block;vertical-align: middle;">这是项目标题！！</span>
            <div style="width: 180px;float:right;margin-top: 7px;margin-right: 25px;">
                <ul>
                    <li style="display:inline-block;vertical-align: middle;">
                        <div style="float:left;">
                            <p >欢迎,瞢噬殇！</p>
                        </div>
                        <div style="float:right;">
                            <p>退出</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>