<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>瞢噬殇-apollo配置</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
    </head>
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="/">首页</a>
                <a href="/sql/1">查询数据库</a>
                <a>
                    <cite>apollo配置</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="开始日" autocomplete="off" name="start" id="start"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="截止日" autocomplete="off" name="end" id="end"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <select name="ap_env">
                                        <option value="">DB环境</option>
                                        <option value="test">test</option>
                                        <option value="docker">docker</option>
                                        <option value="pro">pro</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input type="text" name="ap_w_url" placeholder="请输入写库url" autocomplete="off" class="layui-input"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input type="text" name="ap_r_url" placeholder="请输入读库url" autocomplete="off" class="layui-input"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>

                        <div class="layui-card-header">

                            <button class="layui-btn layui-btn-danger" onclick="delAll()">
                                <i class="layui-icon"></i>批量删除</button>
                            <button class="layui-btn layui-btn-danger" onclick="xadmin.open('修改apollo信息','./apollo_update?ap_id=15',800,600)">
                                <i class="layui-icon">&#xe642;</i>修改</button>
                            <button class="layui-btn" onclick="xadmin.open('添加apollo信息','./order-add.html',800,480)">
                                <i class="layui-icon"></i>添加</button>

                        </div>

                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">序号</th>
                                        <th>创建时间</th>
                                        <th>DB环境</th>
                                        <th>库名</th>
                                        <th>写库url</th>
                                        <th>写库用户</th>
                                        <th>读库url</th>
                                        <th>读库用户</th>
                                        <th>其他操作</th>
                                </thead>
                                <tbody>
                                    {% for i in range(len_s) %}
                                    <tr>

                                        <td style="text-align:center" name="{{stus[i].id}}" >{{ i + 1 }}</td>
                                        <td>{{ stus[i].ap_date_time  }}</td>
                                        <td>{{ stus[i].ap_env }}</td>
                                        <td>{{ stus[i].ap_db_name }}</td>
                                        <td>{{ stus[i].ap_w_url }}</td>
                                        <td>{{ stus[i].ap_w_user }}</td>
                                        <td>{{ stus[i].ap_r_url }}</td>
                                        <td>{{ stus[i].ap_r_user }}</td>
                                        <td class="td-manage">
                                            <a title="查看" onclick="xadmin.open('查看','./apollo_select?ap_id={{ stus[i].ap_id }}',800,600)" href="javascript:;">
                                                <i class="layui-icon">&#xe615;</i></a>
                                            <a title="修改" onclick="xadmin.open('修改','./apollo_update?ap_id={{ stus[i].ap_id }}',800,480)" href="javascript:;">
                                                <i class="layui-icon">&#xe642;</i></a>
                                            <a title="删除" onclick="xadmin.open('删除','./apollo_delete?ap_id={{ stus[i].ap_id }}',200,120)" href="javascript:;">
                                                <i class="layui-icon">&#xe640;</i></a>
                                            <a title="伪删除" onclick="member_del(this,'{{stus[i].id}}')" href="javascript:;">
                                                <i class="layui-icon">&#xe641;</i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">

                            <div class="page">
                               <div>
                                    <span class="x-right">当前第 {{ paginate.page }} 页</span>
                                    {% if paginate.has_prev %}
                                    <a class="prev" href="/ap?page={{ paginate.prev_num }}">&lt;&lt;</a>
                                    {% endif %}
                                    {% for i in paginate.iter_pages() %}
                                        {% if i == paginate.page %}
                                            <span class="current"> {{ i }} </span>
                                        {% else %}
                                            <a class="num" href="/ap?page={{ i }}">{{i}}</a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if paginate.has_next %}
                                    <a class="next" href="/ap?page={{ paginate.next_num }}">&gt;&gt;</a>
                                    {% endif %}
                                    <span class="x-right">共：{{ paginate.pages }} 页</span>
                                    <span class="x-right">共：{{ paginate.total }} 条</span>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    </body>
    <script>layui.use(['laydate', 'form'],
        function() {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });

        /*用户-停用*/
        function member_stop(obj, id) {
            layer.confirm('确认要停用吗？',
            function(index) {

                if ($(obj).attr('title') == '启用') {

                    //发异步把用户状态进行更改
                    $(obj).attr('title', '停用');
                    $(obj).find('i').html('&#xe62f;');

                    $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                    layer.msg('已停用!', {
                        icon: 5,
                        time: 1000
                    });

                } else {
                    $(obj).attr('title', '启用');
                    $(obj).find('i').html('&#xe601;');

                    $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                    layer.msg('已启用!', {
                        icon: 5,
                        time: 1000
                    });
                }

            });
        }

            /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？',
            function(index) {
                //发异步删除数据
                $(obj).parents("tr").remove();
                layer.msg('已删除!', {
                    icon: 1,
                    time: 1000
                });
            });
        }


        function delAll(argument) {

            var data = tableCheck.getData();

            layer.confirm('确认要删除吗？' + data,
            function(index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', {
                    icon: 1
                });
                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
        }</script>

</html>