<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>瞢噬殇-apollo配置</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
    </head>
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="/">首页</a>
                <a href="/sql/1">查询数据库</a>
                <a>
                    <cite>apollo配置</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="开始日" autocomplete="off" name="start" id="start"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="截止日" autocomplete="off" name="end" id="end"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <select name="contrller">
                                        <option>DB环境</option>
                                        <option>test</option>
                                        <option>dcoker</option>
                                        <option>pro</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <select name="contrller">
                                        <option value="">链接地址</option>
                                        <option value="0">写库url</option>
                                        <option value="1">读库url</option>
                                        <option value="2">库名</option>
<!--                                        <option value="3">已取消</option>-->
<!--                                        <option value="4">已完成</option>-->
<!--                                        <option value="5">已作废</option>-->
                                    </select>
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input type="text" name="username" placeholder="请输入详细信息" autocomplete="off" class="layui-input"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="delAll()">
                                <i class="layui-icon"></i>批量删除</button>
                            <button class="layui-btn" onclick="xadmin.open('添加apollo信息','./order-add.html',800,600)">
                                <i class="layui-icon"></i>添加</button></div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" name="" lay-skin="primary">
                                            <span>序号</span>
                                        </th>
<!--                                        <th width="20">序号</th>-->
                                        <th>创建时间</th>
                                        <th>DB环境</th>
                                        <th>库名</th>
                                        <th>写库url</th>
                                        <th>写库用户</th>
<!--                                        <th>写库密码</th>-->
                                        <th>读库url</th>
                                        <th>读库用户</th>
<!--                                        <th>读库密码</th>-->
<!--                                        <th>其他字符串</th>-->
                                        <th>其他操作</th>
                                </thead>
                                <tbody>
                                    {% for i in u %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="" lay-skin="primary">
                                            <span>{{ i['ap_id'] }}</span></td>
<!--                                        <td width="20">{{ i['ap_id'] }}</td>-->
                                        <td>{{ i['ap_date_time'] }}</td>
                                        <td>{{ i['ap_env'] }}</td>
                                        <td>{{ i['ap_db_name'] }}</td>
                                        <td>{{ i['ap_w_url'] }}</td>
                                        <td>{{ i['ap_w_user'] }}</td>
<!--                                        <td>{{ i['ap_w_passwd'] }}</td>-->
                                        <td>{{ i['ap_r_url'] }}</td>
                                        <td>{{ i['ap_r_user'] }}</td>
<!--                                        <td>{{ i['ap_r_passwd'] }}</td>-->
<!--                                        <td>{{ i['ap_str_date'] }}</td>-->
                                        <td class="td-manage">
                                            <a title="查看" onclick="xadmin.open('查看','./apollo_select?ap_db_name={{i.ap_db_name}}',800,600)" href="javascript:;">
                                                <i class="layui-icon">&#xe63c;</i></a>
                                            <a title="del" onclick="xadmin.open('del','./apollo_delete?ap_id={{i.ap_id}}',200,120)" href="javascript:;">
                                                <i class="layui-icon">&#xe639;</i></a>
                                            <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
                                                <i class="layui-icon">&#xe640;</i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">

                            <div class="page">
<!--                                <div>-->
<!--                                    <a class="prev" href="">&lt;&lt;</a>-->
<!--                                    <a class="num" href=""> 1 </a>-->
<!--                                     <span class="current"> {{ (a[0]['count(*)'] + 9) //10  }} </span>-->
<!--                                    <a class="num" href="">3</a>-->
<!--                                    <a class="num" href="">489</a>-->
<!--                                    <a class="next" href="">&gt;&gt;</a>-->
<!--                                    <span class="x-right">共：{{ a[0]['count(*)'] }} 条</span>-->
<!--                                </div>-->
                                <div>
                                    <a class="prev" href="">&lt;&lt;</a>
                                    {% for y in range( (a[0]['count(*)'] + 9 ) //10 ) %}

<!--                                        {% if  y+1 == 1  %}-->
                                            <span class="current"> {{  y+1  }} </span>
<!--                                        {% endif %}-->
<!--                                    <span class="current"> {{  y+1  }} </span>-->

<!--                                    <a class="num" href="">489</a>-->
                                    {% endfor %}
                                    <a class="num" href="">2</a>
                                    <a class="next" href="">&gt;&gt;</a>
                                    <span class="x-right">共：{{ a[0]['count(*)'] }} 条</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    </body>
    <script>layui.use(['laydate', 'form'],
        function() {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });

        /*用户-停用*/
        function member_stop(obj, id) {
            layer.confirm('确认要停用吗？',
            function(index) {

                if ($(obj).attr('title') == '启用') {

                    //发异步把用户状态进行更改
                    $(obj).attr('title', '停用');
                    $(obj).find('i').html('&#xe62f;');

                    $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                    layer.msg('已停用!', {
                        icon: 5,
                        time: 1000
                    });

                } else {
                    $(obj).attr('title', '启用');
                    $(obj).find('i').html('&#xe601;');

                    $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                    layer.msg('已启用!', {
                        icon: 5,
                        time: 1000
                    });
                }

            });
        }

        // /*用户-删除*/
        // function member_del(obj, id) {
        //     // console.log(id)
        //     layer.confirm('确认要删除吗？',
        //     function(index) {
        //         //发异步删除数据
        //
        //         $.ajax({
        //             url: '/delorder' + id,
        //             type:'post',
        //             data: { id: id},
        //             success:function(data){
        //                 if(data.status == 'error'){
        //                     layer.msg(data.msg,{icon: 5});//失败的表情
        //                     return;
        //                 }else if(data.status == 'success'){
        //                     // $(obj).parents("tr").remove();
        //                     layer.msg('已删除!', {
        //                         icon: 1,
        //                         time: 1000
        //                     });
        //
        //                     $.ajax({
        //                         url: '/ap',
        //                         type:'post',
        //                         // data: { id: id},
        //                         success:function(data){
        //                             // if(data.status == 'error'){
        //                             //     layer.msg(data.msg,{icon: 5});//失败的表情
        //                             //     return;
        //                             // }else if(data.status == 'success'){
        //                             //     // $(obj).parents("tr").remove();
        //                             //     layer.msg('已删除!', {
        //                             //         icon: 1,
        //                             //         time: 1000
        //                             //     });
        //                             //
        //                             // }
        //                         },
        //                     });
        //                 }
        //             },
        //         });
        //
        //
        //
        //     });
        // }

            /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？',
            function(index) {
                //发异步删除数据
                $(obj).parents("tr").remove();
                layer.msg('已删除!', {
                    icon: 1,
                    time: 1000
                });
            });
        }


        function delAll(argument) {

            var data = tableCheck.getData();

            layer.confirm('确认要删除吗？' + data,
            function(index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', {
                    icon: 1
                });
                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
        }</script>

</html>