<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <div>
        <table>
                <tr>
                    <td>
                        <input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页">
                    </td>
                    <td>
                        <a href="">前进</a><br>
                    </td>
                    <td colspan="" rowspan="" headers="">
                        <!--<input type="button" name="Submit" value="首页" onclick="javascript:history.go(127.0.0.1:5000)" />-->
                        <a href="/" target="_blank">首页</a>
                    </td>
                    <td>
                        <a >欢迎，##！</a>
                    </td>
                </tr>
        </table>
        {{name}}
    </div>
</body>
</html>